# ignore R
**/*.Rproj.user
**/*.Rhistory
**/*.RData
**/*.Ruserdata
# ignore the ipynb checkpoints
**/.ipynb_checkpoints
# ignore .h5 binaries
**/*.h5
# ignore the PyCharm .idea folder
.idea/
# ignore temporary MS office files (e.g. locked ~$*.xlsx files created when opening excel)
~$*
# ignore granvik model folder since the .dat file is too big to add
/speed_radiant_difference/granvik-model